.navbar {
    width: 100vw;
    height: 56px;
    border-bottom: 1px solid;
    font-size: 12px;
    position: fixed;
    display: flex;
    flex-direction: row;
}
.left_nav{
    display: flex;
    flex-direction: row;
}
.logo {
    margin-left: 8px;
    height:56px;
    width:40px;
}
.logo img {
    padding-top: 4px;
    height: 48px;
    width: 48px;
}
.search {
    margin-left:16px;
}
.search img {
    height: 30px;
    width: 30px;
    padding-top: 13px;
}
.home img {
    height: 30px;
    width: 30px;
    padding-top: 13px;
}   
.middle_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - 198px);
}
.likes {
    margin-left: 13px;
}
.likes img {
    height: 30px;
    width: 30px;
    padding-top: 13px;
}
.right_nav {
    width: 94px;
    display: flex;
    justify-content: right;
}
.profile img {
    height: 30px;
    width: 30px;
    padding-top: 13px;
}
