.navbar {
    width: 100vw;
    height: 56px;
    border-bottom: 1px solid;
    font-size: 12px;
    position: fixed;
    z-index: -1;
}
.logo {
    margin-left: 8px;
    height:56px;
    width:40px;
}
.logo img {
    padding-top: 4px;
    height: 48px;
    width: 48px;
}