.button-container {
    display:flex;
    align-items: stretch;
    text-align:center; 
}
.button-container div {
    flex: 1;
}
.comment-container {
    text-align:center;
}
.comment-feed-container {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.166) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    text-align: center;
    margin: 5px auto;
    width: 80%;

}
.comment-button {
    display:flex;
    margin: 2px;
    border-radius: 20px;
}
.comment-button :hover {
    background-color: rgb(101,103,107, 0.2);
    border-radius: 6px;
}
.comment-icon{
    width:24px;
}
.comment-icon a {
    vertical-align: top;
}
.like-icon img {
    width:24px;
}
.like-icon a {
    vertical-align: top;
}
.like-icon {
    margin: 2px;
}
.like-button :hover {
    background-color: rgb(101,103,107, 0.2);
    border-radius: 6px;
}