.button-container {
    display:flex;
    align-items: stretch;
    text-align:center; 
}
.button-container div {
    flex: 1;
}
.comment-container {
    text-align:center;
}
.comment-button {
    display:flex;
    margin: 2px;
    border-radius: 20px;
}
.comment-button :hover {
    background-color: rgb(101,103,107, 0.2);
    border-radius: 6px;
}
.comment-icon{
    width:24px;
}
.comment-icon a {
    vertical-align: top;
}
.like-icon img {
    width:24px;
}
.like-icon a {
    vertical-align: top;
}
.like-icon {
    margin: 2px;
}
.like-button :hover {
    background-color: rgb(101,103,107, 0.2);
    border-radius: 6px;
}